@model SodingApp.Controllers.Resources.UserTaskListViewModel
@{
    ViewBag.Title = "List of user tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>These are your tasks.</p>
<ul class="list-group">
    <div class="row applicationlist header">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">Name</div>
        <div class="col-md-3">Description</div>
        <div class="col-md-2">Date Created</div>
        <div class="col-md-2">Date Updated</div>
    </div>
    <hr />
    @foreach (var userTask in Model.UserTasks)
    {
        <div class="row applicationlist">
            <div class="col-md-1">
                <a class="btn btn-default btn-xs" href="@Url.Action("Edit", new { @id = userTask.Id })"><span class="glyphicon glyphicon-edit"></span></a>
                <a class="btn btn-danger btn-xs" href="@Url.Action("Delete", new { @id = userTask.Id })"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => userTask.Name)</div>
            <div class="col-md-3">@Html.DisplayFor(modelItem => userTask.Description)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => userTask.DateCreated, "{0:yyyy/MM/dd}")</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => userTask.DateUpdated, "{0:yyyy/MM/dd}")</div>
        </div>

        <hr />
    }
</ul>
@Html.ActionLink("Create new task", "Create", null, new { @class = "btn btn-primary" })
<br />